{% extends 'navbar/customernavbar.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
				<h1><span>F</span><span>L</span><span>Y</span> <span>H</span><span>I</span><span>G</span><span>H</span><br><span>A</span><span>I</span><span>R</span>
				<span>W</span><span>A</span><span>Y</span><span>S</span></h1>
				<p>scroll for nav animation</p>
						</div>
					</div>
				</div>
			</div>
<!--
<h2 align="center"> {{ data }} Welcome to the home page</h2>

{% endblock %}